<md-content class="md-padding" ng-controller="home_controller">
    <div>
    	<p>Data Byte is the data science and business analytics club of NIT, Trichy. At Data Byte, we strive to deliver best in class consultancy and technology solutions to aid development of our clients’ business strategies.</p>
    	<p> Our skill lies in using<br> 
    		fundamental techniques of machine learning and new-age mathematics to create cutting-edge models customised to client needs and<br>
    		more.</p> 
    	<p>We strongly believe in growing beyond the humdrum procedures of the present; we actively seek to be part of a global<br>
    		community of contributors and learners to cultivate what excites us most.</p></div>
</md-content>
