<md-content class="md-padding" ng-controller="projects_controller">    
    
    <md-content ng-repeat="i in rep">
      <div class="md-padding" layout="row" layout-wrap>
    		<md-card flex="100" md-theme="{{ showDarkTheme ? 'dark-orange' : 'default' }}" md-theme-watch>
    	  		<md-card-title>
    	  			<md-card-title-text>
    	  				<span class="md-headline">{{i.name}}</span>
    	  			</md-card-title-text>
    	  		</md-card-title>   
            <md-card-content>
              <p> {{i.profile}}</p>
            </md-card-content>   
            <span>
              <img ng-src="src/download.png" class="ng-card-image">
            </spanS> 
            <md-card-content>
                <p>{{i.desc}}</p>
            </md-card-content>
      			<md-card-actions layout="row" layout-align="center center">
      				<md-button class="md-icon-button" ng-click="liker()" aria-label="Like" style="margin-right:'40px'">
      					<md-icon md-svg-icon="src/eye.svg"></md-icon>
      				</md-button>
                    <md-button class="md-icon-button" ng-click="viewer()" aria-label="View" style="margin-left:'40px'">
                        <md-icon md-svg-icon="src/eye.svg"></md-icon>
                    </md-button>
      			</md-card-actions>
      		</md-card>
        </div>
	</md-content>
</md-content>
